.index:global {
  margin-top: 20px;
  display: flex;
  justify-content: space-evenly;
  > .ModalBackground {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(5px);
  }
  > .ButtomContainer {
    > .ButtonContainer {
      display: flex;
      > .BottomStruct {
        flex: 1;
        > .TextButton {
          width: 116px;
          height: 66px;
          border-radius: 100%;
          display: flex;
          align-items: center;
          justify-content: center;
        }

        > .FontButton {
          width: 116px;
          height: 66px;
          border-radius: 100%;
          display: flex;
          align-items: center;
          justify-content: center;
        }
        > .BackgroundButton {
          width: 116px;
          height: 66px;
          border-radius: 100%;
          display: flex;
          align-items: center;
          justify-content: center;
        }
        > .ButtonImg {
          width: 46.09px;
          height: 46.09px;
        }
        > .ButtonText {
          margin-top: 20px;
          text-align: center;
          margin-bottom: 13px;
        }
      }
    }
    > .FooterContainer {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-top: 25px;
      > .ButtonImg {
        width: 50px;
        height: 20px;
      }
      > .ButtonText {
        margin-top: 20px;
        text-align: center;
        margin-bottom: 13px;
      }
    }
  }
}
